@*@model Leon.Models.VM.ViewModel*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>leoncranelisft.az</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">


    <!-- Use the minified version files listed below for better performance and remove the files listed above -->

    <link rel="stylesheet" href="~/assets/css/vendor.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/style.css">


</head>

<body>
    <!-- Header Section Start -->
    <div class="header-top bg-secondary">

        <div class="container">
            <div class="row align-items-center">
                <!-- Header Top Link/Search Start -->
                <div class="col-lg-8 col-md-12">
                    <ul class="header-top-links">
                        <li><i class="fa fa-phone"></i><a href="#"> +994 12 492 7983</a></li>
                        <li><i class="far fa-envelope"></i><a href="#"> office@leoncranelifts.az</a></li>
                        <li><i class="fa fa-clock-o"></i> <span>7/24</span> </li>
                    </ul>
                </div>
                <!-- Header Top Link/Search End -->

            </div>
        </div>
    </div>
    <!-- Header Top End -->
    <!-- Header Bottom Start -->
    <div class="header-bottom section header-sticky">
        <div class="container">
            <div class="row align-items-center">
                <!-- Header Logo Start -->
                <div class="col-lg-3 col-6">
                    <div class="header-logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo/leon.png" alt="Site Logo" /></a>
                    </div>
                </div>
                <!-- Header Logo End -->
                <!-- Header Menu Start -->
                <div class="col-lg-9 col-6">
                    <!-- Main Menu Start -->
                    <div class="main-menu d-none d-lg-flex">
                        <ul>
                            <li class="no-children">
                                <a asp-controller="Home" asp-action="Index">Home</a>

                            </li>
                            @(await Component.InvokeAsync("ProCategories"))
                            <li class="has-children">
                                <a asp-controller="Home" asp-action="OurProjects">Layihələrimiz</a>
                                <i class="fas fa-chevron-down"></i>
                                <ul class="sub-menu">
                                    <li><a>Liftlər</a></li>
                                    <li><a href="https://localhost:44316/Home/Product">Eskalatorlar</a></li>
                                    <li><a href="parking.html">Parking</a></li>
                                    <li><a href="cranes.html">Yükqaldırıcı kranlar</a></li>
                                    <li><a href="cranes.html">Qaldırıcı avadanlıqlar</a></li>
                                    <li><a href="constr.html">Metalkonstruksiya</a></li>
                                </ul>
                            </li>

                            <li><a asp-controller="Home" asp-action="About">Haqqımızda və ya Biz kimik</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">Bizimlə əlaqə</a></li>
                        </ul>
                    </div>
                    <!-- Main Menu End -->

                </div>
                <!-- Header Menu End -->
            </div>
        </div>
    </div>
    <!-- Header Bottom End -->

    @RenderBody()

    <footer class="section footer-section bg-secondary">
        <!-- Footer Top Start -->
        <!-- Footer Top End -->
        <!-- Footer Bottom Start -->
        <div class="container">
            <div class="row align-items-center footer-bottom">
                <div class="col-12 text-center">
                    <div class="copyright-content">
                        <p class="mb-0">Copyright © 2020 <a href="https://Leoncranelifts.az/">Leoncranelifts.</a> All Rights Reserved.</p>
                        <ul class="widget-address">
                            <li><i class="fa fa-map-o"></i><span>Seidbeyli st.30, Azerbaijan <br>Baku,AZ1001</span></li>
                            <li><i class="fa fa-phone"></i><a>+99412 492 79 83</a></li>
                            <li><i class="fa fa-envelope-o"></i><a>office@leoncranelifts.az</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </footer>

    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top" id="scroll-top">
        <img style="width:30px;" src="https://img.icons8.com/ios/50/FFFFFF/collapse-arrow--v1.png" />
    </a>
    <!-- Scroll Top End -->
    <!-- Use the minified version files listed below for better performance and remove the files listed above -->


    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/js/jssor.slider-28.1.0.min.js"></script>




    <!--Main JS-->
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>


</html>

