
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb Section Start -->
<div class="section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cr-breadcrumb-area">
                    <h1 class="title">Haqqımızda və ya biz kimik</h1>
                    <ul class="breadcrumb-list">
                        <li><a href="index.html">Home</a></li>
                        <li><span>Haqqımızda və ya biz kimik</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- About Section Start -->
<div class="section section-padding">
    <div class="container">
        <!-- About Image/Content Start -->
        <div class="about-image-content-area">
            <div class="row align-items-center mb-n6">
                <div class="col-lg-6 order-lg-1 order-2 mb-6" data-aos="fade-up" data-aos-delay="300">
                    <!-- About Content Start -->
                    <div class="about-content-area">
                        <h2 class="title">Biz kimik</h2>
                        <p class="mb-5 mb-md-8 mt-4">
                            PKF Leon, 1994-cü ildə qurulan və lift avadanlıqlarının, eskalatorların, bütün növ vinçlərin təchizatı, quraşdırılması, texniki xidməti, eləcə də telferlərin, xüsusi iskelelərin, tur qüllələrinin tədarükü və satışı üzrə ixtisaslaşmış etibarlı, xidmət göstərən bir şirkətdir. və s.
                            Əsas prioritetlərimiz keyfiyyət, təhlükəsizlik, etibarlılıqdır.Bu gün qaldırıcı avadanlıq bazarının xüsusiyyətləri və xüsusiyyətləri nəzərə alınaraq, müştərilər üçün ən əlverişli şəraiti təmin etmək üçün müxtəlif təkliflər hazırlanır. Çevik bir ödəmə sistemi var. Şirkət tədarük olunan məhsulların çeşidini genişləndirmək və keyfiyyətini yaxşılaşdırmaq üçün daima çalışır.PKF "Leon" istehsalçılardan tədarük olunan çoxsaylı lift avadanlıqlarının yanı sıra liftlərin təmiri, istismarı və modernləşdirilməsində istifadə olunan komponentləri təklif edir.
                        </p>

                    </div>
                    <!-- About Content End -->
                </div>
                <div class="col-lg-6 order-lg-2 order-1 mb-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="about-image">
                        <img  src="~/assets/images/about/about-4.jpg" alt="About Image">
                    </div>
                </div>
            </div>
        </div>
        <!-- About Image/Content End -->
        <!-- About Timeline Start -->
        <div class="about-timeline-spacing-top border-top">
            <div class="row row-cols-lg-3 row-cols-1 mb-n6">
                <div class="col mb-6" data-aos="fade-up" data-aos-delay="300">

                    <!-- Feature Box Wrapper Start -->
                    <div class="feature-box-wrapper">
                        <div class="feature-box-icon">
                            <img  src="~/assets/images/icon/about-icon-1.png" alt="About Icon">
                        </div>
                        <div class="feature-content">
                            <h2 class="title">Əsas üstünlüklərimiz</h2>
                            <li>Ən yaxşı qiymət və keyfiyyət nisbəti</li>
                            <li>Yüksək keyfiyyətli və sürətli quraşdırma</li>
                            <li>Yüksək keyfiyyətli və səmərəli xidmət</li>
                            <li>İnnovasiya və inkişaf dizaynı</li>

                        </div>
                    </div>
                    <!-- Feature Box Wrapper End -->

                </div>

                <div class="col mb-6" data-aos="fade-up" data-aos-delay="400">

                    <!-- Feature Box Wrapper Start -->
                    <div class="feature-box-wrapper">
                        <div class="feature-box-icon">
                            <img  src="~/assets/images/icon/about-icon-2.png" alt="About Icon">
                        </div>
                        <div class="feature-content">
                            <h4 class="title">Biz həyata keçiririk</h4>
                            <li>Avadanlıq təchizatı (liftlər, eskalatorlar, səyahətçilər, kranlar)</li>
                            <li>Liftlərin, eskalatorların, səyahətçilərin, kranların quraşdırılması</li>
                            <li>Ehtiyat hissələri təchizatı</li>
                            <li>Avadanlıqların modernləşdirilməsi</li>
                        </div>
                    </div>
                    <!-- Feature Box Wrapper End -->

                </div>

                <div class="col mb-6" data-aos="fade-up" data-aos-delay="500">
                    <!-- Feature Box Wrapper Start -->
                    <div class="feature-box-wrapper">
                        <div class="feature-box-icon">
                            <img  src="~/assets/images/icon/about-icon-3.png" alt="About Icon">
                        </div>
                        <div class="feature-content">
                            <h4 class="title">A-dan Z-yə hər şey</h4>
                            <li>Liftlərin, eskalatorların, səyahətçilərin, kranların quraşdırılması</li>
                            <li>Ehtiyat hissələri təchizatı</li>
                            <li>Avadanlıqların modernləşdirilməsi</li>

                        </div>
                    </div>
                    <!-- Feature Box Wrapper End -->
                </div>
            </div>
        </div>
        <!-- About Timeline End -->
    </div>
</div>
<!-- About Section End -->
<!-- FunFact Section Start -->
<div class="section funfact-bg">
    <div class="container">
        <div class="row row-cols-sm-2 row-cols-lg-4 row-cols-1 mb-n10">
            <!-- FunFact Area Start -->
            <div class="col mb-10">
                <!-- Single FunFact Start -->
                <div class="funfact-wrap" data-aos="fade-up" data-aos-delay="300">
                    <div class="funfact-icon">
                        <img  src="~/assets/images/icon/funfact-icon-1.png" alt="Funfact Icon">
                    </div>
                    <span class="odometer" data-count-to="500"></span>
                    <h6 class="title">Uğurlu layihə</h6>
                </div>
                <!-- Single FunFact End -->
            </div>
            <div class="col mb-10">
                <!-- Single FunFact Start -->
                <div class="funfact-wrap" data-aos="fade-up" data-aos-delay="400">
                    <div class="funfact-icon">
                        <img  src="~/assets/images/icon/funfact-icon-2.png" alt="Funfact Icon">
                    </div>
                    <span class="odometer" data-count-to="200"></span>
                    <h6 class="title">Müştəri</h6>
                </div>
                <!-- Single FunFact End -->
            </div>
            <div class="col mb-10">
                <!-- Single FunFact Start -->
                <div class="funfact-wrap" data-aos="fade-up" data-aos-delay="500">
                    <div class="funfact-icon">
                        <img  src="~/assets/images/icon/funfact-icon-3.png" alt="Funfact Icon">
                    </div>
                    <span class="odometer" data-count-to="150"></span>
                    <h6 class="title">İşçi heyyəti</h6>
                </div>
                <!-- Single FunFact End -->
            </div>
            <div class="col mb-10">
                <!-- Single FunFact Start -->
                <div class="funfact-wrap" data-aos="fade-up" data-aos-delay="300">
                    <div class="funfact-icon">
                        <img  src="~/assets/images/icon/funfact-icon-4.png" alt="Funfact Icon">
                    </div>
                    <span class="odometer" data-count-to="957"></span>
                    <h6 class="title">Moderinizasiya</h6>
                </div>
                <!-- Single FunFact End -->
            </div>
            <!-- FunFact Area End -->
        </div>
    </div>
</div>
<!-- FunFact Section End -->
<!-- Team Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-12 section-title" data-aos="fade-up" data-aos-delay="300">
                <h2 class="title">Bizim komandamız</h2>
                <span></span>
                <p class="sub-title"></p>
            </div>
            <!-- Section Title End -->
        </div>
        <div class="row row-cols-sm-2 row-cols-lg-4 row-cols-1 mb-n6">
            <!-- Team Members Area Start -->
            <div class="col mb-6">
                <!-- Single Team member Start -->
                <div class="single-team-member" data-aos="fade-up" data-aos-delay="300">
                    <!-- Team Member Images Start -->
                    <div class="team-member-image">
                        <img  src="~/assets/images/team/1.jpg" alt="Team Member">
                    </div>
                    <!-- Team Member Images End -->
                    <!-- Team Member Name/Social Identity Start -->
                    <div class="team-member-content">
                        <h2 class="name">test</h2>
                        <span class="person-title">Director</span>

                    </div>
                    <!-- Team Member Name/Social Identity End -->
                </div>
                <!-- Single Team member End -->
            </div>

            <div class="col mb-6">
                <!-- Single Team member Start -->
                <div class="single-team-member" data-aos="fade-up" data-aos-delay="400">
                    <!-- Team Member Images Start -->
                    <div class="team-member-image">
                        <img  src="~/assets/images/team/2.jpg" alt="Team Member">
                    </div>
                    <!-- Team Member Images End -->
                    <!-- Team Member Name/Social Identity Start -->
                    <div class="team-member-content">
                        <h2 class="name">test</h2>
                        <span class="person-title">Director</span>

                    </div>
                    <!-- Team Member Name/Social Identity End -->
                </div>
                <!-- Single Team member End -->
            </div>

            <div class="col mb-6">
                <!-- Single Team member Start -->
                <div class="single-team-member" data-aos="fade-up" data-aos-delay="500">
                    <!-- Team Member Images Start -->
                    <div class="team-member-image">
                        <img  src="~/assets/images/team/3.jpg" alt="Team Member">
                    </div>
                    <!-- Team Member Images End -->
                    <!-- Team Member Name/Social Identity Start -->
                    <div class="team-member-content">
                        <h2 class="name">test</h2>
                        <span class="person-title">Director</span>

                    </div>
                    <!-- Team Member Name/Social Identity End -->
                </div>
                <!-- Single Team member End -->
            </div>

            <div class="col mb-6">
                <!-- Single Team member Start -->
                <div class="single-team-member" data-aos="fade-up" data-aos-delay="600">
                    <!-- Team Member Images Start -->
                    <div class="team-member-image">
                        <img  src="~/assets/images/team/4.jpg" alt="Team Member">
                    </div>
                    <!-- Team Member Images End -->
                    <!-- Team Member Name/Social Identity Start -->
                    <div class="team-member-content">
                        <h2 class="name">test</h2>
                        <span class="person-title">Director</span>

                    </div>
                    <!-- Team Member Name/Social Identity End -->
                </div>
                <!-- Single Team member End -->
            </div>
            <!-- Team Members Area End -->
        </div>
    </div>
</div>
<!-- Team Section End -->
