
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb Section Start -->
<div class="section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cr-breadcrumb-area">
                    <h1 class="title">Bizimlə əlaqə</h1>
                    <ul class="breadcrumb-list">
                        <li><a href="index.html">Home</a></li>
                        <li><span>Bizimlə əlaqə</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Contact Details Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-12 section-title" data-aos="fade-up" data-aos-delay="300">
                <h2 class="title">Get In Touch</h2>
                <span></span>
                <p class="sub-title"></p>
            </div>
            <!-- Section Title End -->
        </div>
        <div class="row row-cols-sm-2 row-cols-lg-4 row-cols-1 mb-n6">

            <div class="col mb-6" data-aos="fade-up" data-aos-delay="300">

                <!-- Single Contact Address Start -->
                <div class="single-contact-address">
                    <div class="contact-address-icon">
                        <img width="48" height="48" src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-location-library-tanah-basah-basic-outline-tanah-basah.png" alt="external-location-library-tanah-basah-basic-outline-tanah-basah" />
                    </div>
                    <h4 class="title">Address</h4>
                    <p>Address: <span>Seidbeyli st.30,</span></p>
                    <p><span>Azerbaijan, Baku, AZ1001</span></p>
                </div>
                <!-- Single Contact Address End -->

            </div>

            <div class="col mb-6" data-aos="fade-up" data-aos-delay="400">

                <!-- Single Contact Address Start -->
                <div class="single-contact-address">
                    <div class="contact-address-icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/apple-phone.png" alt="apple-phone" />
                    </div>
                    <h4 class="title">Phone</h4>
                    <p>Phone 1: <a href="#">+99412 492 79 83</a></p>
                    <p>Phone 2: <a href="#">+99470 587 03 02</a></p>
                </div>
                <!-- Single Contact Address End -->

            </div>

            <div class="col mb-6" data-aos="fade-up" data-aos-delay="500">

                <!-- Single Contact Address Start -->
                <div class="single-contact-address">
                    <div class="contact-address-icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/fax--v1.png" alt="fax--v1" />
                    </div>
                    <h4 class="title">Fax</h4>
                    <p>Fax 1: <span>+99412 492 79 48</span></p>
                    <p>Fax 2: <span>+99412 000 00 00</span></p>
                </div>
                <!-- Single Contact Address End -->

            </div>

            <div class="col mb-6" data-aos="fade-up" data-aos-delay="600">

                <!-- Single Contact Address Start -->
                <div class="single-contact-address">
                    <div class="contact-address-icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/new-post--v1.png" alt="new-post--v1" />
                    </div>
                    <h4 class="title">Email</h4>
                    <p><a href="#">office@leoncranelifts.az</a></p>
                    <p><a href="#">test@test.com</a></p>
                </div>
                <!-- Single Contact Address End -->

            </div>

        </div>
    </div>
</div>
<!-- Contact Details Section End -->
<!-- Contact Map Start -->
<div class="section section-padding pt-0" data-aos="fade-up" data-aos-delay="300">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Google Map Area Start-->
                <div class="google-map-area w-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10225.216977383043!2d49.833513616407004!3d40.365074350071154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dc8db7bb72b%3A0x1c6d6b9ef74495b9!2zSMmZc8mZbiBTyZl5aWRiyZl5bGksIEJha8SxLCDQkNC30LXRgNCx0LDQudC00LbQsNC9!5e0!3m2!1sru!2s!4v1617350326754!5m2!1sru!2s" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <!--Google Map Area Start-->
            </div>
        </div>
    </div>
</div>
<!-- Contact Map End -->
