
@{
    ViewData["Title"] = "OurProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Start -->
<div class="section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cr-breadcrumb-area">
                    <h1 class="title">Layihələrimiz</h1>
                    <ul class="breadcrumb-list">
                        <li><a href="index.html">Home</a></li>
                        <li><span>Layihələrimiz</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Project Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 mb-n8">

            <!-- Single project Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="300">
                    <div class="project-image">
                        <a class="project-overlay" href="cranes.html">
                            <img  src="~/assets/images/project/1.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="cranes.html">Qaldırıcı kran</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="cranes.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->
            <!-- Single Portfolio Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="400">
                    <div class="project-image">
                        <a class="project-overlay" href="project-details.html">
                            <img  src="~/assets/images/project/2.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="project-details.html">Avto parking</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="project-details.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->
            <!-- Single Portfolio Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="500">
                    <div class="project-image">
                        <a class="project-overlay" href="project-details.html">
                            <img  src="~/assets/images/project/3.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="project-details.html">Eskalator</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="project-details.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->
            <!-- Single Portfolio Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="300">
                    <div class="project-image">
                        <a class="project-overlay" href="project-details.html">
                            <img  src="~/assets/images/project/4.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="project-details.html">Sərnişin lifti</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="project-details.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->
            <!-- Single Portfolio Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="400">
                    <div class="project-image">
                        <a class="project-overlay" href="project-details.html">
                            <img  src="~/assets/images/project/5.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="project-details.html">Qaldırıcı kran_2</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="project-details.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->
            <!-- Single Portfolio Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="500">
                    <div class="project-image">
                        <a class="project-overlay" href="project-details.html">
                            <img  src="~/assets/images/project/6.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="project-details.html">Submarin</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="project-details.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->
            <!-- Single Portfolio Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="300">
                    <div class="project-image">
                        <a class="project-overlay" href="project-details.html">
                            <img  src="~/assets/images/project/7.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="project-details.html">Eskalator_2</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="project-details.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->
            <!-- Single project Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="400">
                    <div class="project-image">
                        <a class="project-overlay" href="project-details.html">
                            <img  src="~/assets/images/project/8.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="project-details.html">Qaldırıcı kran_3</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="project-details.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->
            <!-- Single Portfolio Start -->
            <div class="col mb-8">
                <div class="single-project" data-aos="fade-up" data-aos-delay="500">
                    <div class="project-image">
                        <a class="project-overlay" href="project-details.html">
                            <img   src="~/assets/images/project/9.jpg" alt="Project Image">
                        </a>
                    </div>
                    <div class="project-content project-content-dark">
                        <h4 class="title"> <a href="project-details.html">Sərnişin lifti_2</a></h4>
                        <ul class="project-tag">
                        </ul>
                        <a class="btn btn-outline-matterhorn btn-hover-primary btn-sm" href="project-details.html">Ətraflı</a>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio End -->

        </div>


    </div>
</div>
<!-- Project Masonry Section End -->
